body.embed {
    font-size: 80.5%;
    background-color: transparent;
    color: white;
    }
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: white;
    text-rendering: optimizelegibility;
li {
    line-height: 20px;
    color: white;
}
